@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.nav-container {
  /* parent container */
  font-family: "Comfortaa", cursive;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  box-shadow: 0px 0px 7px;
  /* border: 2px solid red; */
  justify-content: space-between;
  padding: 0.1em;
  background-color: darksalmon;
}

@media screen and (max-width: 550px) {
  .nav-container {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    box-shadow: 0px 0px 7px;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-size: 15px;
  }
}

.nav-container .titele-logo {
  /*child-1 */
  /* border: 2px solid blue; */
  padding: 1em 0em 1em 4em;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.nav-container .titele-logo h3 {
  margin: auto;
  padding: 0.2em;
}

.nav-container .titele-logo h3 a {
  text-decoration: none;
  color: inherit;
}

.nav-container .titele-logo h3:hover {
  cursor: pointer;
  background-color: #bdc3c7;
}

@media screen and (max-width: 550px) {
  .nav-container .titele-logo {
    padding: 1em;
    letter-spacing: 0.3em;
    display: flex;
    justify-content: center;
  }
}

.nav-container .nav-options {
  /*child-2*/
  /* border: 2px solid green; */
  padding: 1em 4em 1em 0em;
  letter-spacing: 0.3em;
}

.nav-container .nav-options ul {
  margin: auto;
  padding: 0.2em;
}

.nav-container .nav-options ul li {
  margin: auto;
  list-style: none;
  display: inline;
  padding: 0.2em 1em;
}

.nav-container .nav-options ul li a {
  text-decoration: none;
  color: inherit;
}

.nav-container .nav-options ul li:hover {
  cursor: pointer;
  background-color: #bdc3c7;
}

@media screen and (max-width: 550px) {
  .nav-container .nav-options {
    padding: 1em;
    letter-spacing: 0.3em;
    display: flex;
    justify-content: center;
  }
}

.coverphoto-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: "Comfortaa", cursive, sans-serif;
  background-color: rgb(179, 167, 150);
  height: 85vh;
  padding-left: 120px;
  padding-top: 120px;
  display: flex;
  /* border: 2px solid yellowgreen; */
}
.narrow {
  width: 360px;
}
.narrow>img {
  width: 360px;
}
.wide {
  flex: 0.75 1;
}
.coverphoto-container>h1{
  
  color: rgb(249, 248, 248);
  font-size: 44px;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
}
.coverphoto-container>h2{
  color: rgb(67, 60, 60);
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.coverphoto-container>h3{
  font-size: 24px;
  color: rgb(67, 60, 60);
}
.blueUnderline{
  border-bottom: 5px solid #6DCACD;
  width: 15%;
}
.about-container{
  background-color: darksalmon;
  height: 80vh;
  display: flex;
}
.about-text{
  padding-left: 24px;
  padding-top: 120px;
  font-size: 24px;
  color: rgb(67, 60, 60);
}
.home-btn {
  color: aliceblue;
  background-color: rgb(67, 60, 60);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
}


@media screen and (min-width: 1500px) {
  .coverphoto-container {
    display: flex;
    justify-content: center;
  }
}

.coverphoto-container .cover-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

@media screen and (max-width: 550px) {
  .coverphoto-container .cover-image {
    margin-top: 6em;
    position: relative;
  }
}

.coverphoto-container .map-image {
  max-width: 100%;
  height: auto;
  margin-top: 8%;
  vertical-align: middle;
  border-style: none;
}

@media screen and (max-width: 550px) {
  .coverphoto-container .map-image {
    position: relative;
  }
}

.coverphoto-container .cover-image-title {
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

.coverphoto-container .cover-image-title h1 {
  color: white;
  text-shadow: 1px 1px 6px black;
  font-size: 3em;
}

@media screen and (max-width: 550px) {
  .coverphoto-container .cover-image-title h1 {
    margin-top: 3em;
    font-size: 2em;
  }
}

.coverphoto-container .map-image-title {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
}

.coverphoto-container .map-image-title h1 {
  color: white;
  text-shadow: 1px 1px 6px black;
  font-size: 3em;
}

@media screen and (max-width: 1100px) {
  .coverphoto-container .map-image-title h1 {
    margin-top: 1em;
    font-size: 1.3em;
  }
}

.projects-card {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .projects-card {
    margin: 0%;
  }
}

.body-container {
  position: relative;
  margin: 0% 10.5%;
}

@media screen and (max-width: 1540px) {
  .body-container {
    margin: 15% 5% 0%;
  }
}

@media screen and (max-width: 400px) {
  .body-container {
    margin: 15% 5% 0%;
  }
}

.head-title {
  margin-top: 5%;
  border-bottom: solid 1px #ccc;
  width: auto;
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.2em;
}

.Projects-card-container {
  width: 23%;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .Projects-card-container {
    width: 48%;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .Projects-card-container {
    width: 100%;
  }
}

.Projects-card-container .project-title {
  position: absolute;
  background-color: black;
  font-family: monospace;
  font-size: 1.2rem;
  opacity: 0.7;
  color: white;
  padding: 0.5rem;
}

.Projects-card-container img {
  width: 100%;
  height: auto;
}

.about-card-container {
  width: 23%;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .about-card-container {
    width: 48%;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .about-card-container {
    width: 100%;
  }
}

.about-card-container .name-title {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5%;
}

.about-card-container .position-title {
  font-family: "Comfortaa", cursive;
  margin-top: 5%;
  color: #7f8c8d;
}

.about-card-container .short-desc {
  font-family: "roboto mono";
  margin-top: 5%;
}

.about-card-container img {
  width: 100%;
  height: auto;
}

.footer {
  margin: 1rem 0rem 0rem;
  padding: 1rem;
  font-family: "roboto mono";
  display: flex;
  background-color: #1e272e;
  color: white;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .footer-title {
  font-family: "Comfortaa", cursive;
  display: flex;
  align-items: center;
}

.footer .footer-title h2 {
  padding: 0rem 1rem;
}

.footer .footer-items {
  display: flex;
  letter-spacing: 0.3em;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

.footer .footer-items ul {
  margin: 0;
  padding: 0;
}

.footer .footer-items ul li {
  list-style: none;
}

.footer .footer-items ul li a {
  text-decoration: none;
  color: inherit;
}

.footer .footer-items ul li :hover {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .footer .footer-items ul li {
    text-align: center;
  }
}

.footer .footer-contacts {
  padding: 0rem 1rem;
}

.footer .footer-contacts ul {
  margin: 0;
  padding: 0;
}

.footer .footer-contacts ul li {
  list-style: none;
}

@media screen and (max-width: 550px) {
  .footer .footer-contacts {
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

p {
  font-family: "roboto mono";
  font-size: 1rem;
}
